<header>
    <nav class="navbar navbar-dark navbar-expand-lg bg-dark fixed-top">
        <div class="container">
          <a class="navbar-brand" routerLink="products"><i class="fa fa-shopping-bag" aria-hidden="true"></i> Blue Netstore</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent" role="search">
            <form class="d-flex justify-content-center w-75">
              <input class="form-control w-50 rounded-0" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success rounded-0" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
            </form>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="products">All&nbsp;products</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Electronics</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Fashion</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Jewelry</a>
                  </li>
            </ul>
            <a routerLink='cart' type="button" class="btn btn-primary rounded-0 ms-4 position-relative">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i> 
                <span class="position-absolute top-100 start-100 translate-middle badge rounded-pill bg-danger">{{cartItemsCount}}</span>
            </a>
          </div>
        </div>
      </nav>
</header>